@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    border: 0;
    /* no scroll */
    /* overflow: hidden; */
}

.apresentation .header-content a button {
    font-family: 'Maven Pro', sans-serif;
    padding: 8px 10px;
    border-radius: 20px;
    color: white;
    background-color: #5F2D48;
    border: none;
    overflow: hidden;
    transition: 0.4s;
}


.apresentation .header-content a button:hover {
    background: #8900f2;
    opacity: 0.4;
    box-shadow: 0 0 10px #8900f2, 0 0 40px #8900f2, 0 0 80px #8900f2;
}

header {
    min-height: 100vh;
    background: no-repeat center/cover url('assets/header_image.jpg');
}

header .navbar {
    display: flex;
    margin: auto 30px;
    justify-content: space-between;
}

header .navbar p {
    color: white;
    font-family: 'Dancing Script', cursive;
}

header .navbar ul {
    list-style: none;
    display: flex;
}

header .navbar ul li .button {
    font-family: 'Acme', sans-serif;
    background: unset;
    border: none;
    color: white;
    margin: 0px 15px;
    transition: 0.4s;
}

header .navbar ul li a .button:hover {
    text-shadow: 0px 0px 10px white, 0px 0px 20px white, 0px 0px 30px white;
}

.apresentation {
    width: 400px;
    height: 380px;
    margin: auto;
}

.header-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    font-size: 30px;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
    font-family: 'Acme', sans-serif;
}

.header-content p {
    font-family: 'Acme', sans-serif;
}

.packages {
    padding: 15px;
    background: black;
    box-shadow: 0px -20px 40px 0px black
}

.packages .tituloSkills p {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    font-family: 'Acme', sans-serif;
    color: white;
    transition: 1.5s;
}


/* .packages .tituloSkills h1::before {
    box-shadow: 0px 0px 0px 0px white;
    transition: 2s;
} */

.packages:hover {
    text-shadow: 0px 0px 30px white;
}

.packages .card-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    max-width: 950px;
    justify-content: center;
}

.packages .card-container .card {
    margin: 25px;
    width: 250px;
    height: 350px;
    background: white;
    border-radius: 18px 18px 18px 18px;
    position: relative;
    transition: 0.5s;
}

.card:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.1);
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px #5F2D48;
}

.packages .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #5F2D48;
    border-radius: 9px 0 0 9px;
    padding: 5px 10px;
}

.packages .card .card-tag-top p {
    font-family: 'Maven Pro', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    display: flex;
}

.packages .card .card-tag-top p svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.packages .card .card-tech-img {
    width: 250px;
    height: 200px;
    border-radius: 18px 18px 0px 0px;
    object-fit: cover;
}

.packages .card h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.packages .card ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
}

.packages .card ul li {
    font-weight: bold;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 7px 0;
    color: grey;
}


.packages .card ul li svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.About-me {
    padding: 15px;
    height: calc(auto + 20px);
    background: black;
    transition: 1.5s;
}

.About-me .about-me_container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding-top: 40px;
}

.About-me .tituloAboutme h1 {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    font-family: 'Acme', sans-serif;
    color: white;
    transition: 1s;
}

.About-me .tituloAboutme h1:hover {
    text-shadow: 0px 0px 30px white;
}

.About-me .textAbout-me {
    justify-content: center;
    display: flex;
    margin: calc(auto + 7%);
    margin-left: 30px;
    width: 45%;
}

.About-me .textAbout-me p {
    /* line-height: 11px; */
    text-align: left;
    font-size: 1.5rem;
    color: white;
}

.About-me .myphoto {
    margin-top: calc(auto + 5%);
    margin-left: 20px;
    position: relative;
    float: right;
    justify-content: center;
}

.About-me .myphoto .myphoto_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 300px 300px 300px 300px;
    box-shadow: 0px 0px 15px #5F2D48, 0 0 30px #5F2D48;
}

.contacts {
    height: calc(auto + 20px);
    padding: 15px;
    background: black;
}

.contacts .Networking {
    display: flex;
    justify-content: center;
}

.contacts .Networking ul {
    margin: 0 auto;
    padding: 0;
}

.contacts .Networking ul li {
    margin: 0 10px;
    display: inline;
}

.contacts .Networking ul li a .social-media {
    background: unset;
    border: none;
    transition: 0.4s;
}

.contacts .Networking ul li svg {
    color: white;
}

.Creator-page {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 7px 0px 2px 0px;
    background: black;
}

.Creator-page h1 {
    font-weight: bold;
    height: 18px;
    width: 250px;
    text-align: center;
    font-size: 0.5rem;
    color: white;
    background: unset;
    text-shadow: 0 0 5px white;
}


/* RESPONSIVE */


/* Landscape phone to portrait tablet */


@media (max-width: 767px) {
    body {
        margin-bottom: 55px;
    }
    header p {
        font-size: 1.5rem;
    }
    header .navbar ul {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        padding: 0;
        margin: 0;
        background: #5F2D48;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .navbar ul li {
        font-weight: bold;
    }
    header .navbar ul li a .button:active {
        content: "";
        text-shadow: 0px 0px 20px white, 0px 0px 40px white, 0px 0px 80px white;
        transition: 0.4s;
    }
    header .navbar p {
        width: 100%;
        text-align: center;
    }
    .header-content {
        margin: 30px auto;
    }
    .header-content h1 {
        font-size: 3rem;
    }
    .About-me {
        padding: calc(auto + 15px);
        height: auto;
    }
    .About-me .about-me_container {
        padding-top: unset;
        justify-content: unset;
        margin: 0;
    }
    .About-me .textAbout-me {
        width: auto;
        height: auto;
        margin: 30px 20px 0px 20px;
        text-align: unset;
    }
    .About-me .textAbout-me h1 {
        font-size: 1rem;
    }
    .About-me .myphoto {
        margin: auto;
        position: relative;
        float: right;
        justify-content: center;
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    /* Explicação logo em seguida*/
    body {
        margin-bottom: 55px;
        font-size: 40%;
    }
    header p {
        font-size: 1.5rem;
    }
    header .navbar ul {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        padding: 0;
        margin: 0;
        background: #5F2D48;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* Referência do (header nav ul li) - minha lista de elementos*/
    header .navbar ul li {
        font-weight: bold;
    }
    /* Referência do meu "(nav p) - título "Arthur Alves Reis"*/
    header .navbar p {
        width: 100%;
        text-align: center;
    }
    header .apresentation {
        width: auto;
        height: auto;
        margin: 0 8px;
    }
    .header-content {
        margin: 30px auto;
        margin-bottom: 0px;
    }
    .header-content h1 {
        font-size: 3rem;
    }
    .About-me {
        height: auto;
    }
    .About-me .about-me_container {
        padding-top: unset;
        justify-content: unset;
        margin: 0;
    }
    .About-me .textAbout-me {
        width: auto;
        height: auto;
        margin: auto 15px;
        text-align: unset;
    }
    /* .About-me .tituloAboutme h1 {
        font-size: 1rem;
    } */
    .About-me .myphoto {
        width: 300px;
        height: 300px;
    }
    .About-me .myphoto .myphoto_img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        position: relative;
        float: right;
        justify-content: center;
    }
    .packages .card-container .card {
        max-width: 100%;
    }
    .packages .card-container .card .card-tech-img {
        max-width: 100%;
    }
    .contacts .Networking ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .creator-page {
        max-width: 100%;
    }
    .creator-page h1 {
        max-width: 100%;
    }
}